<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title or "Souvlaki Prices" }}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <!-- TOP NAV BAR -->
  <nav class="navbar">

	<a href="/" class="logo-link">
	  <img src="{{ url_for('static', filename='logo.png') }}" alt="Home" class="logo">
	</a>
	
	<!-- Home -->
    <a href="/">Home</a>
	
  <!-- Prices Dropdown -->
  <div class="dropdown">
    <button class="nav-link">Prices ▼</button>
    <ul class="dropdown-menu">
      {% for item in item_slugs %}
        <li><a href="{{ url_for('item_page', item_slug=item.item_slug) }}">{{ item.item_name }}</a></li>
      {% endfor %}
    </ul>
  </div>

    <!-- About -->
    <a href="/about">About</a>
  </nav>

  <!-- SEPARATOR LINE -->
  <hr style="border: none; border-top: 1px solid #ccc; margin: 0;">

  <!-- MAIN CONTENT -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
