name: CI Test

on: workflow_dispatch

jobs:
  test-ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: |
        sleep 3600
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      if: failure() || cancelled()
